################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/SideShooting/.vs/Practice0702_2010/v16
/SideShooting/Debug
/SideShooting/Release
/SideShooting/x64
